Repository RCOS-IHP/IHP, pull requests merged in 2023-02, with the labels that each got.

#9 Add labeler
  .github/labeler.yml
  .github/workflows/label.yml
Labels: github, github-actions

#10 Add a new label
  .github/labeler.yml
  .github/workflows/label.yml
Labels: github

#12 Declutter and setup basic repro
  .gitignore
  backend/Pipfile
  backend/alembic.ini
  backend/alembic/README
  backend/alembic/env.py
  backend/alembic/script.py.mako
  backend/app/__init__.py
Labels: backend, backend-deps, top-level

#14 Fix labeler not correctly labeling things
  .github/labeler.yml
Labels: github

#13 Make model
  backend/src/__init__.py
  backend/src/config.py
  backend/src/constants.py
  backend/src/main.py
  backend/src/models.py
  backend/src/routes/__init__.py
  backend/src/routes/questions/add_question.py
  backend/src/routes/questions/get_question.py
  backend/src/routes/root.py
  backend/src/utils/__init__.py
  backend/src/utils/errors.py
Labels: backend, backend/routes, backend/models

#16 Fix sample link
  sample_config.yml
Labels: top-level

#20 Fix validation errors and specify answer type
  backend/src/models.py
  backend/src/routes/questions/add_question.py
  backend/src/utils/__init__.py
  backend/src/utils/conversions.py
Labels: backend, backend/routes, backend/models

#28 Test all 4 question types
  backend/tests/test_questions.py
Labels: backend

#29 Test that adding a multiple choice question with a text answer fails
  backend/tests/test_questions.py
Labels: backend
