Repository RCOS-IHP/IHP, pull requests merged in 2023-03, with the labels that each got.

#40 Sync Frontend with Main
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.vue
  frontend/src/components/HelloWorld.vue
  frontend/src/components/LandingPage/Header.vue
  frontend/src/components/LandingPage/LoginField.vue
  frontend/src/components/LandingPage/MainPage.vue
  frontend/src/components/Login/index.vue
  frontend/src/main.js
  frontend/src/style.css
  frontend/vite.config.js
Labels: frontend, frontend/deps

#44 Added feature to remove questions
  backend/src/routes/__init__.py
  backend/src/routes/questions/remove_question.py
  backend/tests/test_questions.py
Labels: backend, backend/routes

#46 John's cool course branch
  backend/alembic.ini
  backend/src/main.py
  backend/src/models.py
Labels: backend, backend/models
